@{
    ViewBag.Title = "Nosotros";
}
    <div style="margin-left:5%; margin-right:5%; margin-top:2em;">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Hugo Rodríguez</h2>
                <p class="lead">Nacido en 1998. Hijo de Hugo Rodríguez y Dora Alicia Vera. Actualmente se encuentra cursando el 4º año de la carrera de Ingeniería en Informática</p>
                <p class="lead">Correo: <a target="_blank" href="mailto:hi.rodriguez1998@gmail.com">hi.rodriguez1998@gmail.com</a></p>
                <p class="lead">GitHub: <a target="_blank" href="https://github.com/hugo098">hugo098</a></p>
                <p class="lead">Repositorio del proyecto: <a target="_blank" href="https://github.com/hugo098/proyecto-c-sharp-asp-mvc">https://github.com/hugo098/proyecto-c-sharp-asp-mvc</a> </p>
</div>
            <div class="col-md-5">
                <img width="100" height="100" focusable="false" role="img" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="https://drive.google.com/uc?export=view&id=1y17A5hwsqPRrLe9hTbRnFGpeAQQrA0xn" />
                
            </div>
        </div>       
    </div>