@model ProyectoFinalASP_MVC.Models.Categoria

@{
    ViewBag.Title = "Eliminar Categoria";
}
    <div style="margin-left:5%; margin-right:5%;">
        <h2>Eliminar Categoria</h2>

        <h3>Está seguro de eliminar esto?</h3>
        <div>            
            <hr />
            <dl class="dl-horizontal">
                <dt>
                   
                    Descripción
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.descripcionCategoria)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color" style="margin-bottom:1em;margin-top:2em;">
                    <input type="submit" value="Delete" class="btn btn-danger" /> 
                    @Html.ActionLink("Regresar al listado", "Index", null, new { @class = "btn btn-primary" })
                </div>
            }
        </div>
</div>